---
import Social from "./Social.astro";

const social = {
    instagram: "juam31415",
    whatsapp: "+543512190772",
    email: "jppiemonte@gmail.com",
};
---

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer>
    <Social platform="twitter" username="astrodotbuild" />
    <Social platform="github" username="withastro" />
    <Social platform="youtube" username="astrodotbuild" />
    <ul>
        <li>
            Instagram: {social.instagram}
        </li>
        <li>
            Whatsapp: {social.whatsapp}
        </li>
        <li>
            Email: {social.email}
        </li>
    </ul>
</footer>
